.button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  /* margin: 5px 0px; */
  border-radius: 10px;
  margin-bottom: auto;
}
  


.button:hover, .active {
  background-color: var(--highlight);
}